spring:
    application:
        name: recommend-user-service

    config:
        import: configserver:http://localhost:10500

    datasource:
        url: jdbc:postgresql://localhost:5432/recommend_db
        username: recommend
        password: recommend_service@2@^
        driver-class-name: org.postgresql.Driver
    
    jpa:
        hibernate:
            ddl-auto: none
        properties:
            hibernate:
                format_sql: true
                dialect: org.hibernate.dialect.PostgreSQLDialect
    
    sql:
        init:
            mode: never